---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"></div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-2 text-justify">
    I'm <span class="text-primary font-bold">MICHIO NAKAGAWA</span> a.k.a <span class="text-primary font-bold">RISING3</span>.
  </div>
  <div class="mb-1 text-justify">
    Software Architect and Developer that an enterprise Java application development, and a web service development.
  </div>
  <div class="mb-10 text-justify">
    I'm also playing with JVM(Java, Groovy, Scala, Kotlin, Clojure)/JavaScript/TypeScript and Go, Rust.
  </div>

<!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>
-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="OGIS RI Co.,Ltd."
      subtitle="From Jan 1, 2008 at Tokyo, Japan"
    >
    <div class="mb-5">
      I was developing a business system and SaaS.
      <ul class="list-disc md:columns-2 columns-1 mx-6">
        <li><span class="text-primary font-bold">OS: </span>Windows 7, Windows 10, Windows 11, RHEL, ubuntu, Fedora</li>
        <li><span class="text-primary font-bold">WEB/AP SERVER: </span>Apache httpd, nginx, Apache Tomcat, Web Logic, Websphere, Cosminexus</li>
        <li><span class="text-primary font-bold">RDBMS: </span>Oracle, HiRDB, MySQL, Postgresql, MongoDB, Redis</li>
        <li><span class="text-primary font-bold">LANGUAGE: </span>Java, Groovy, Scala, Kotlin, ruby, JavaScript, TypeScript, Python, go</li>
        <li><span class="text-primary font-bold">FRAMEWORK: </span>Spring Framework, Spring Boot, Serverless Framework, Next.js, Astro.js, FastAPI</li>
        <li><span class="text-primary font-bold">CLOUD: </span>AWS, Azure, GCP</li>
        <li><span class="text-primary font-bold">OTHER1: </span>MuleESB, Apache Camel</li>
        <li><span class="text-primary font-bold">OTHER2: </span>Chef, terraform</li>
        <li><span class="text-primary font-bold">OTHER3: </span>GMO Payment Gateway, Stripe</li>
      </ul>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="SYSTEM TRUST Co.,Ltd."
      subtitle="From Oct 1, 1996 to Nov 30, 2007 at Osaka, Japan"
    >
    <div class="mb-5">
      Developing a business system.
      <ul class="list-disc md:columns-2 columns-1 mx-6">
        <li><span class="text-primary font-bold">OS: </span>Windows 95, Windows NT, Windows Server, SunOS, VMS, CentOS, RHEL</li>
        <li><span class="text-primary font-bold">WEB/AP SERVER: </span>IIS, Apache httpd, Apache Tomcat, Resin</li>
        <li><span class="text-primary font-bold">RDBMS: </span>Oracle, SQL Server, MySQL, Postgresql, Symfoware</li>
        <li><span class="text-primary font-bold">LANGUAGE: </span>Visual C++, Visual Basic, VB.NET, C#.NET, ASP.NET, Java</li>
        <li><span class="text-primary font-bold">FRAMEWORK: </span>Apache Struts, Seasar2, Spring Framework, intra-mart</li>
        <li><span class="text-primary font-bold">OTHER: </span>A/D Converter, ISDN</li>
      </ul>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="NTT SYSTEM DEVELOPMENT Co.,Ltd"
      subtitle="From Apr 1, 1994 to Aug 1, 1996 at Osaka, Japan"
    >
    <div class="mb-5">
      Developing a business system for a client/server model system.
      <ul class="list-disc md:columns-2 columns-1 mx-6">
        <li><span class="text-primary font-bold">OS: </span>MS-DOS 6.x, Windows 3.1, Windows 95, Windows NT 3.5, Windows NT 4.0, SunOS, Solaris</li>
        <li><span class="text-primary font-bold">RDBMS: </span>Oracle, Sybase, SQL Server</li>
        <li><span class="text-primary font-bold">LANGUAGE: </span>MS-C, Boland C/C++, Visual C++, Visual Basic</li>
      </ul>
    </div>
    </TimeLineElement>
  </div>

<!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
-->

<!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
    </ul>
  </div>
-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Motivated to make my happy life with</div>
  </div>

  <div class="mb-5">
    <ul class="list-disc md:columns-2 columns-1 mx-6">
      <li>OOP</li>
      <li>Software architecture</li>
      <li>Cloud architecture</li>
      <li>system and cloud service integration(SOA/ESB)</li>
      <li>microservices</li>
      <li>virtualization</li>
      <li>CI/CD</li>
      <li>IaC</li>
      <li>build automation</li>
      <li>toolchain</li>
      <li>AWS</li>
      <li>Azure</li>
      <li>GCP</li>
    </ul>
  </div>

</BaseLayout>
